.login-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-container img {
  width: 350px;
  height: 350px;
  margin-right: 140px;
}

.login-container section.form {
  width: 100%;
  max-width: 350px;
  margin-left: 240px;
}

.login-container section.form form h1 {
  font-size: 28px;
  color: rgb(34, 17, 143);
}

.login-container section.form form a {
  margin-top: 8px;
}
