.link {
  display: flex;
  align-items: center;
  color: darkslateblue;
  font-size: 17.2px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.link svg {
  margin-right: 4px;
}

.link:hover {
  opacity: 0.8;
}
